####################
# Temp files #
####################
*.swp
.project
.cproject
.settings
.*
!.gitignore
*_tmp.*
*.pyc

####################
# Unfavorable dir #
####################
libs/
build/
logs/
